footer {
  padding: 30px 0 55px 0;
  background: #000;

  .logo {
    @include block(82px, 99px);
    @include bg('logo.png');
    @include trans(opacity);

    float: left;
    margin-right: 88px;
    opacity: .999;
  }

  a.logo:hover {
    opacity: .7;
  }

  nav {
    padding-top: 27px;
    padding-bottom: 16px;
  }

  .social {
    position: relative;
    top: -12px;
    right: 0;
    float: right;
    text-align: right;
    white-space: nowrap;

    a {
      @include trans(color);
      @include inlineBlock(auto, auto);

      position: relative;
      padding: 5px 10px;
      z-index: 50;
      font-size: 24px;
      color: $colorMain;

      i {
        vertical-align: middle;

        &.fa-instagram {
          font-size: 20px;
        }
      }

      & + a {
        margin-left: 20px;
      }

      &:hover {
        color: darken($colorMain, 15);
      }
    }
  }

  .copy {
    @include fontAccent(16px);

    white-space: nowrap;
    opacity: .5;
    color: #fff;
  }
}
