nav {
  @include fontMain(12px);

  display: table-cell;
  width: 100%;
  text-transform: uppercase;

  li {
    display: inline-block;
    margin-right: 27px;
    margin-bottom: 10px;

    a {
      @include trans(color);

      white-space: nowrap;
      color: #fff;
    }

    &.active a,
    & a:hover {
      color: $colorMain;
    }
  }
}

div.top-menu,
div.top-menu-info {
  @include absCenterHor();
  @include trans(background-color, box-shadow, height);

  top: 0;
  z-index: 1000;
  padding-top: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, .001);
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, .001);

  .logo {
    @include block(82px, 99px);
    @include bg('logo.png', contain);
    @include trans(opacity, width, height);

    float: left;
    margin-top: 13px;
    margin-right: 88px;
    margin-bottom: 13px;
    opacity: .999;
  }

  a.logo:hover {
    opacity: .7;
  }

  .contacts-line {
    margin-bottom: 29px;

    .address {
      @include fontAccent(16px);

      display: inline-block;
      margin-right: 16px;
    }

    .phone {
      @include fontAdditional(16px);
      @include inlineBlock(185px, 48px);

      padding-right: 5px;
      border: solid 2px $colorMain;
      line-height: 48px;
      text-align: center;
    }
  }


  nav {
    padding-bottom: 12px;
  }

  &.fixed {
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, .3);

    .logo {
      @include trans(transform);

      transform: scale(1);
      transform-origin: 50% 50%;
      height: 43px;
      margin-top: -10px;
    }

    .contacts-line {
      display: none;
    }
  }
}

div.top-menu {
  display: none;
}

div.top-menu-info {
  top: 55px;
  display: none;

  .logo {
    margin-top: 3px;
    margin-left: 20px;
  }

  .contacts-line {
    position: relative;
    top: 10px;

    .phone {
      border: none;
      width: auto;
      height: auto;
      line-height: 1.3em;
      margin-bottom: 10px;
    }

    .address {
      margin-bottom: 10px;
      margin-right: 40px;
    }
  }
}

@media (max-width: 700px) {
  div.top-menu-info {
    display: block;
  }
}

.header-form {
  @include block(100%, 140px);

  margin: 37px auto auto auto;
  max-width: 1080px;
  padding-top: 41px;
  background-color: #00000080;

  & > form {
    width: 927px;
    margin: auto;
  }

  .form-title {
    @include inlineBlock(304px);
    @include fontMain(24px, 900);

    float: left;
    vertical-align: top;
    text-transform: uppercase;
  }

  .inputs-wrapper {
    display: inline;
  }

  .form-input {
    @include inlineBlock(213px, 58px);

    min-height: auto;
    float: left;
    vertical-align: top;
    border: 0;

    input {
      @include fontAccent(14px);

      padding-left: 43px;
      text-indent: 2px;
      cursor: pointer;
    }

    & + .form-input {
      margin-left: 1px;
    }

    .calendar-link {
      @include abs(19px, 16px);
      @include trans(color);

      font-size: 21px;
      color: $colorMain;
      cursor: pointer;
    }

    &:hover .calendar-link {
      color: $colorMainDarken;
    }
  }

  .yellow-btn {
    float: left;
  }
}

.header-arrows {
  @include absCenterHor();
  @include block(0, 100%);

  z-index: 100;
  min-height: 600px;
  max-height: 1200px;

  .header-arrows-inner {
    @include absCenterHor();
    @include block(106px, 48px);

    bottom: 33%;
    margin: auto -53px;
    text-align: center;
  }

  .arr-prev,
  .arr-next {
    @include inlineBlock(48px, 48px);

    &:before {
      @include inlineBlock(10px, 10px);
    }

    &:after {
      @include inlineBlock(28px, 28px);
    }

    &:before,
    &:after {
      border-color: #fff;
    }

    &:hover {
      &:before,
      &:after {
        border-color: $colorMain;
      }
    }
  }

  .arr-prev:before {
    left: 4px;
  }

  .arr-next:before {
    right: 6px;
  }
}

.header-dots {
  @include abs(0);
  @include block(0, 0);

  z-index: 100;

  .header-dots-inner {
    @include abs(0);
    @include block(0, 100vh);

    right: 49px;
    min-height: 600px;
  }

  .slick-dots {
    @include abs(-105px);

    height: 195px;
    margin: auto;

    li {
      @include block(25px, 25px);

      position: relative;
      margin: 5px 5px;
      opacity: .999;

      button:before {
        @include absCenter();
        @include block(9px, 9px);
        @include trans(background-color);

        content: '';
        border-radius: 50%;
        background: $colorMain;
        opacity: 1;
      }

      &:hover button:before {
        background: lighten($colorMain, 25);
      }

      &.slick-active {
        cursor: default;

        &:hover {
          opacity: .999;
        }

        button {
          cursor: default;

          &:before {
            @include block(15px, 15px);

            background: #fff;
          }
        }
      }
    }
  }
}

header {
  position: relative;
  padding-top: 176px;
  padding-bottom: 50px;
  margin-bottom: 60px;
  background-color: #000;
  color: #fff;
  overflow: hidden;

  &:before {
    @include absAll(-7px, -7px, -7px, -7px);

    content: '';
    z-index: 1;
    -webkit-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    opacity: .6;
  }

  &.head-building:before  { @include bg('head-building.jpg'); }
  &.head-breakfast:before { @include bg('head-breakfast.jpg'); }
  &.head-number:before    { @include bg('head-number.jpg'); }
  &.head-reception:before { @include bg('head-reception.jpg'); }
  &.head-feedback:before  { @include bg('head-feedback.jpg'); }

  .header-image {
    position: relative;
    z-index: 100;
  }

  .title {
    margin-bottom: 5px;
    color: #fff;
  }

  .sub-title {
    color: #fff;
  }
}

header.head-main {
  @include block(100%, 100%);

  position: relative;
  min-height: 600px;
  max-height: 1200px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;

  &:before {
    content: none;
  }

  .header-form {
    @include absCenterHor();

    bottom: 47px;
    z-index: 500;
  }

  .header-slider {
    overflow: hidden;

    .item {
      @include block(100%, 100vh);

      position: relative;
      min-height: 600px;
      max-height: 1200px;
      background: #000;

      .item-content {
        @include absCenter();

        top: -69px;
        z-index: 100;
        height: 200px;

        .title {
          margin-bottom: 20px;
        }
      }

      .bg-image {
        @include block(100%, 100%);
        @include absAll(0, 0, 0, 0);

        z-index: 1;
        opacity: .5;
      }

      &.item-book      .bg-image { @include bg('head-main-book.jpg'); }
      &.item-wedding   .bg-image { @include bg('head-main-wedding.jpg'); }
      &.item-breakfast .bg-image { @include bg('head-main-breakfast.jpg'); }
      &.item-family    .bg-image { @include bg('head-main-family.jpg'); }
      &.item-outside   .bg-image { @include bg('head-main-outside.jpg'); }
      &.item-reception .bg-image { @include bg('head-main-reception.jpg'); }
    }
  }
}

.toggle-button {
  @include block(50px, 50px);
  @include absRight(2px, 0);

  display: none;
  z-index: 50;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
