.city {
  // images
  .contacts {
    .how-get {
      .how-get-item {
        &.how-get-train:before { @include bg('city/contacts-train-city.svg', contain); }
        &.how-get-plane:before { @include bg('city/contacts-plane-city.svg', contain); }
        &.how-get-bus:before   { @include bg('city/contacts-bus-city.svg', contain); }
      }
    }
  }

  .go-top {
    .content-width {
      a {
        &:before {
          @include bg('to-top-white.svg', auto);
        }
      }
    }
  }

  .rates {
    .rate-list {
      .item {
        &.item-1 .logo:before { @include bg('city/rate-booking-city.png',     145px 24px, left); }
        &.item-2 .logo:before { @include bg('city/rate-flamp-city.png',       145px 50px, left); }
        &.item-3 .logo:before { @include bg('city/rate-tripadvisor-city.png', 146px 22px, left); }
        &.item-4 .logo:before { @include bg('city/rate-google-maps-city.png', 144px 27px, left); }
      }
    }
  }

  .responses {
    .response {
      .response-pluses {
        &.response-pluses:before {
          @include bg('city/ico-plus-city.svg');
        }
      }
    }
  }

  // main.scss
  .arr-prev,
  .arr-next {
    &:hover {
      &:after,
      &:before {
        border-color: $colorMainCity;
      }
    }
  }

  .frame-titles {
    &:before,
    &:after {
      border-color: $colorMainCity;
    }
  }

  .go-top {
    .content-width {
      a {
        background: $colorMainCity;

        &:hover {
          background: darken($colorMainCity, 15);

          &:before {
            opacity: .999;
          }
        }

        &:after {
          display: none;
        }
      }
    }
  }

  // blocks/col-group.scss
  .col-group {
    .main-col {
      .back-link {
        color: $colorMainCity;

        span {
          &:before {
            background-color: $colorMainCity;
          }
        }

        &:hover {
          color: $colorMainDarkenCity;

          span {
            background-color: $colorMainDarkenCity;
          }
        }
      }
    }
  }

  .with-yellow-line {
    span {
      &:before {
        background-color: $colorMainCity;
      }
    }
  }

  a.with-yellow-line:hover {
    span {
      &:before {
        background-color: darken($colorMainCity, 5);
      }
    }
  }

  // blocks/paging.scss
  .paging {
    .paging-page {
      &.active {
        border-color: $colorMainCity;
      }
    }

    a.paging-page {
      &:hover {
        background: $colorMainCity;
      }
    }
  }

  // blocks/rates.scss
  .rates {
    .rate-list {
      .item {
        &:before {
          border-color: $colorMainCity;
        }

        .value {
          color: $colorMainCity;
        }

        &.active,
        &:hover {
          .value {
            color: #000;
          }

          &:before {
            border-color: #000;
          }
        }
      }
    }
  }

  // pages/contacts.scss
  .jur-data {
    .jur-info {
      border-right-color: $colorMainCity;
    }

    .jur-docs {
      .jur-doc {
        color: $colorMainCity;
      }
    }
  }

  // pages/main.scss
  .main-page {
    .reasons {
      .reason-list {
        li {
          &:before {
            color: $colorMainCity;
          }
        }
      }
    }
  }

  // pages/responses.scss
  .responses {
    .response {
      .response-date-line {
        .response-service {
          background-color: $colorMainCity;

          &:hover {
            background-color: $colorMainDarkenCity;
          }
        }
      }

      .response-answer {
        &:before {
          background-color: $colorMainCity;
        }
      }
    }
  }

  // pages/room.scss
  .gallery {
    .slider-nav {
      .item {
        &:hover,
        &.slick-current {
          border-color: $colorMainCity;
        }
      }
    }
  }

  // partials/_footer.scss
  footer {
    .social {
      a {
        color: $colorMainCity;
        &:hover {
          color: darken($colorMainCity, 15);
        }
      }
    }
  }

  // partials/_header.scss
  nav {
    li {
      &.active a,
      & a:hover {
        color: lighten($colorMainCity, 15);
      }
    }
  }

  div.top-menu,
  div.top-menu-info {
    .contacts-line {
      .phone {
        border-color: $colorMainCity;
      }
    }
  }

  .header-form {
    .form-input {
      .calendar-link {
        color: $colorMainCity;
      }

      &:hover .calendar-link {
        color: $colorMainDarkenCity;
      }
    }
  }

  .header-arrows {
    .arr-prev,
    .arr-next {
      &:hover {
        &:before,
        &:after {
          border-color: $colorMainCity;
        }
      }
    }
  }

  .header-dots {
    .slick-dots {
      li {
        button:before {
          background-color: $colorMainCity;
        }

        &:hover button:before {
          background-color: lighten($colorMainCity, 25);
        }

        &.slick-active {
          button {
            &:before {
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  // partials/forms.scss
  .yellow-btn {
    background-color: $colorMainCity;

    &:hover {
      background-color: darken($colorMainCity, 5);
    }
  }

  // partials/plugin-customization.scss
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color: $colorMainCity;
    color: #fff;
  }
}
