.form {
  margin-top: 60px;
  margin-bottom: 80px;
  padding: 68px 20px 47px 20px;
  border: 1px solid #979797;
  text-align: center;

  .form-title {
    @include fontMain(30px, 900);

    text-transform: uppercase;
    margin-bottom: 7px;
    color: #000;
  }

  .form-subtitle {
    font-size: 16px;
    margin-bottom: 35px;
  }

  form {
    width: 660px;
    margin: 0 auto;
  }
}

.yellow-btn {
  @include rel();
  @include block(145px, 58px);
  @include fontAdditional(14px);
  @include trans(background-color);

  margin: auto;
  text-align: center;
  background: $colorMain;
  border: 0;
  color: #fff;
  cursor: pointer;
  line-height: 20px;
  padding: 13px 0 10px 0;

  &:hover {
    background: darken($colorMain, 5);
    color: #fff;
  }

  &.height-small {
    height: 40px;
    padding: 10px 0;
  }
}

.form-input {
  @include block(100%);

  min-height: 48px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #979797;
  margin-bottom: 20px;

  &.error {
    border-color: #c33;
  }

  input,
  textarea {
    @include block(100%, 100%);
    @include fontAdditional(14px);
    @include trans(color);
    @include placeholderColor(#4a4a4a);

    min-height: 46px;
    font-weight: 300;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 2px;
    color: #4a4a4a;
  }

  textarea {
    min-height: 128px;
    padding-top: 15px;
  }

  &:hover input,
  & input:active,
  & input:focus {
    @include placeholderColor(#000);

    color: #000;
  }
}



/*input,
textarea,
button {
  box-sizing: border-box;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}

input,
textarea {
  box-sizing: border-box;

  &:active,
  &:focus {
    border-color: #666 !important;
    color: #666 !important;
  }
}

input[type="submit"] {
  @include inline-block(170px, 50px);

  background: #05b;
  border-radius: 10px;
  border: 0;
  text-align: center;
  line-height: 46px;
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    background: $colorBlueDark;
    color: #fff !important;
  }
}

.form-section {
  position: relative;
  margin-bottom: 45px;

  input[type="text"],
  textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px 60px 10px 15px;
    color: #aaa;
    font-size: $fontNormal;
  }

  textarea {
    height: 200px;
    border-radius: 10px 0 0 10px;
  }

  &.form-section-input {
    button {
      @include block(50px);

      font-family: 'FontAwesome', sans-serif;
      position: absolute;
      top: 0;
      right: 0;
      background: $colorBlue;
      border-radius: 10px;
      border: 0;
      text-align: center;
      line-height: 46px;
      color: #fff;
    }

    &:hover input[type="text"] {
      border-color: #666;
      color: #666;
    }

    &:hover button,
    button:active,
    button:focus {
      background: $colorBlueDark;
      color: #fff;
    }
  }

  .form-section-group {
    @include flex();

    margin-bottom: -10px;

    label {
      @include flex-grow(2);

      .no-flexbox.no-flexboxlegacy & {
        float: left;
      }

      width: 49.9%;
    }
  }

  .select-wrapper {
    position: absolute;
    left: 80px;
    top: 9px;
    width: 200px;
    font-size: $fontSmall;

    select {
      width: 100%;
    }
  }

  .reset-link {
    position: relative;
    top: 10px;
    float: left;
    font-size: $fontNormal;
    border-bottom: 1px dashed $colorBlue;

    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }

  &.form-section-submit {
    text-align: right;
    overflow: hidden;
  }
}

.font-filter {
  margin-bottom: 40px;

  .hidden-fields {
    @include trans(max-height);

    max-height: 0;
    overflow: hidden;
  }

  &.visible .hidden-fields {
    max-height: 1000px;
  }

  .filter-link {
    position: relative;
    top: 13px;
    right: -10px;
    z-index: 50;
    float: right;
    display: inline-block;
    padding: 5px 10px;
    font-size: $fontSmallest;
    cursor: pointer;
  }
}

.form-hint {
  text-align: right;
  font-size: $fontSmallest;
}
*/
