/*.mfp-title {
  line-height: 1.3 !important;

  small {
    line-height: 1.3 !important;
  }
}

.mfp-zoom-out-cur {
  &, .mfp-image-holder .mfp-close {
    cursor: default !important;
  }
}*/

// ui-datepicker
.ui-datepicker {
  @include fontAccent(14px);

  line-height: 1.2;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0px solid #c5c5c5;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: $colorMain;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #ccc;
}

.ui-datepicker td span,
.ui-datepicker td a {
  padding-right: 5px;
}


// slick slider
.slick-list {
  .slick-loading & {
    background-image: url('../images/ajax-loader.gif');
  }
}
