@media (max-width: 1360px) {
  .go-top {
    bottom: 180px;
  }

  .go-top .content-width {
    width: auto;
  }

  .go-top .content-width a {
    right: 5px;
  }
}

@media (max-width: 1180px) {
  .main-page .main-rooms .slider-rooms-arrows .arr-prev {
    left: -40px;
  }

  .main-page .main-rooms .slider-rooms-arrows .arr-next {
    right: -40px;
  }
}

@media (max-width: 1100px) {
  .main-page .main-rooms .slider-rooms-arrows .arr-prev {
    left: 5px;
  }

  .main-page .main-rooms .slider-rooms-arrows .arr-next {
    right: 5px;
  }
}

@media (max-width: 1040px) {
  .main-page .near-places .near-places-list .item {
    width: 25%;
  }

  .near-places .content-width {
    width: 700px;
  }
}

@media (max-width: 1020px) {
  .content-width {
    width: 700px;
    padding: 0 10px;
  }

  nav li {
    margin-right: 22px;
  }

  .title {
    font-size: 38px;
  }

  .sub-title {
    font-size: 19px;
  }

  .top-menu {
    .content-width {
      width: auto;
    }
  }

  div.top-menu .logo {
    margin-right: 68px;
    margin-left: 20px;
  }

  header.head-main .header-form,
  .header-form {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

    .form-title {
      margin-left: 20px;
    }
  }

  .responses .response {
    margin-bottom: 56px;
  }

  .form {
    padding-top: 38px;
    padding-bottom: 27px;

    form {
      width: 100%;
    }

    .form-title {
      font-size: 26px;
    }

    .form-subtitle {
      font-size: 14px;
    }
  }

  .contacts .how-get {
    .how-get-item {
      float: none;
      width: 100%;
    }

    .how-get-item .how-get-title {
      margin-bottom: 8px;
    }

    .how-get-item + .how-get-item {
      margin-left: 0;
    }

    .how-get-item.how-get-bus:before,
    .how-get-item:before {
      float: left;
      margin-right: 40px;
    }
  }

  .jur-data {
    padding-top: 32px;
    padding-bottom: 0px;

    .jur-info {
      float: none;
      width: auto;
      border-right: none;
      padding-right: 0;
    }

    .jur-docs {
      float: none;
      width: 100%;
      padding-top: 4px;
    }

    .jur-docs .jur-doc {
      display: inline-block;
      margin-left: 44px;
    }
  }

  .rates {
    .rate-list {
      width: 560px;
      margin: 30px auto -20px auto;
    }

    .rate-list .item {
      margin-bottom: 30px;
      margin-left: 26px;
      margin-right: 26px;
    }

    .rate-list .item + .item {
      margin-left: 26px;
    }
  }

  .col-group {
    margin-bottom: 65px;

    .title {
      margin-bottom: 21px;
    }

    .main-col {
      float: none;
      padding-top: 20px;
    }

    .sidebar-col {
      float: right;
      width: 538px;
      margin-top: -36px;
    }

    .sidebar-col .price-frame {
      padding-top: 59px;
    }

    .sidebar-col .price-frame .yellow-btn {
      margin-left: auto;
      margin-right: -18px;
    }
  }

  .col-group.col-group-type-2 {
    .main-col {
      padding-top: 20px;
    }

    .sidebar-col .price-frame {
      padding-top: 53px;
      overflow: hidden;
    }

    &.col-group-right {
      .price {
        float: left;
        margin-left: 0;
      }

      .with-yellow-line span {
        left: 182px;
      }

      .sidebar-col .price-frame {
        padding-left: 61px;
      }
    }
  }

  .breakfast {
    .price {
      float: right;
    }

    .col-group {
      margin-bottom: 65px;
    }
  }

  .actions {
    .actions-header br {
      display: none;
    }

    .col-group .hint {
      display: none;
    }

    .col-group .price-frame .hint-inner {
      display: block;
      position: static;
      width: auto;
      margin-top: -10px;
      font-size: 12px;
      margin-bottom: 25px;
    }

    .col-group.col-group-right .yellow-btn {
      margin-left: -5px;
      margin-right: auto;
    }
  }

  .with-yellow-line span:before {
    width: 340px;
  }

  .rooms-page {
    &.content-width {
      width: 100%;
    }

    .room {
      width: 475px;
    }
  }

  .page-room {
    .col-group .main-col {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .col-group .main-col .back-link {
      top: -19px;
    }

    .col-group .sidebar-col {
      float: none;
      width: auto;
      margin-top: 70px;
    }

    .col-group .sidebar-col .price-frame {
      margin-left: 0;
      margin-bottom: 80px;
    }

    .col-group .sidebar-col .price-frame .yellow-btn {
      margin-right: 0;
    }

    .with-yellow-line span:before {
      width: 395px;
    }
  }

  .main-rooms {
    padding-left: 20px;
    padding-right: 20px;
  }

  footer {
    .content-width {
      width: 100%;
    }

    .copy {
      font-size: 14px;
    }

    .social a {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .main-page .main-rooms .slider-rooms-arrows .arr-prev {
    left: -80px;
  }

  .main-page .main-rooms .slider-rooms-arrows .arr-next {
    right: -80px;
  }
}

@media (max-width: 1000px) {
  div.top-menu.fixed .logo {
    margin-top: -8px;
    height: 53px;
  }

  .top-menu .content-width {
    margin: auto;
    width: 700px;
  }

  nav {
    max-width: 500px;
  }

  header.head-main .header-form,
  .header-form {
    & > form {
      width: 727px;
    }

    .form-title {
      width: 225px;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 0;
    }

    .form-input {
      width: 173px;
    }
  }

  .rooms-page.content-width {
    width: 800px;

    .room {
      width: 380px;
    }
  }

  header.head-main,
  header.head-main .header-slider .item {
    min-height: 640px;
  }
}

@media (max-width: 880px) {
  .main-page .main-rooms .slider-rooms-arrows {
    .arr-prev {
      left: -20px;
    }

    .arr-next {
      right: -20px;
    }
  }
}

@media (max-width: 800px) {
  .content-width {
    width: auto;
  }

  .top-menu.fixed .toggle-button {
    display: block;
  }

  div.top-menu.fixed nav {
    @include trans(max-height);

    display: block;
    overflow: hidden;
    max-height: 87px;
    margin-bottom: 10px;
    padding-bottom: 12px;
  }

  div.top-menu.fixed.short nav {
    max-height: 27px;
  }

  div.top-menu nav {
    padding-right: 70px;
    max-width: 100%;
  }

  .top-menu.fixed .logo {
    display: none;
  }

  .top-menu.fixed.short {
    .logo {
      height: 43px !important;
      margin-top: -15px !important;
      margin-bottom: 8px;
    }

    .clear {
      display: none;
    }
  }

  header .title {
    font-size: 28px;
  }

  header .sub-title {
    font-size: 15px;
  }

  header.head-main .header-slider .item .item-content {
    top: -19px;
  }

  header.head-main .header-form,
  .header-form {
    bottom: 37px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 21px 10px 10px 10px;
    overflow: hidden;

    .form-title {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;

      br {
        display: none;
      }
    }

    .inputs-wrapper {
      display: block;
      width: 580px;
      margin: auto;
      overflow: hidden;
    }

    .form-input {
      width: 213px;
    }
  }


  header.head-main,
  header.head-main .header-slider .item {
    min-height: 680px;
  }

  .rooms-page.content-width {
    width: 100%;

    .room {
      width: 100%;
    }
  }

  .page-room .col-group .sidebar-col {
    width: 658px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-page .main-rooms {
    padding-left: 10px;
    padding-right: 10px;
    width: 680px;
  }

  .main-page .main-rooms .slider-rooms-arrows {
    .arr-prev {
      left: 20px;
      z-index: 100;
    }

    .arr-next {
      right: 20px;
      z-index: 100;
    }
  }

  .main-page .services {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 760px) {
  .main-page .reasons .reason-list {
    width: 100%;
    float: none;

    & + .reason-list {
      padding-left: 10px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .main-page .services .slider-services .slick-slide {
    width: 216px;
  }

  .main-page .services .slider-services .item {
    font-size: 15px;
  }

  .main-page .services {
    width: 456px;
  }

  .near-places .content-width {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .top-menu .content-width {
    width: auto;
  }

  .col-group,
  .col-group.col-group-type-2,
  .col-group.col-group-right,
  .col-group.col-group-type-2.col-group-right {
    .main-col {
      width: 100%;
      float: none;
    }

    .sidebar-col {
      float: none;
      width: 100%;
      padding-left: 30px;
      padding-right: 34px;
    }

    .sidebar-col .price-frame {
      margin-left: 0;
      margin-right: 0;
      padding-left: 27px;
      padding-right: 27px;
    }

    .price.with-yellow-line {
      position: static;
      float: none;
      margin-left: 33px;
      padding-top: 20px;
      padding-right: 39px;
      text-align: right;
    }

    .with-yellow-line span {
      left: 60px;
      right: 60px;
      top: auto;
      bottom: 90px;
      width: auto;

      &:before {
        left: 0;
        right: 0;
        width: auto;
      }
    }
  }

  .page-room .col-group .sidebar-col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .actions,
  .page-room {
    .col-group,
    .col-group.col-group-type-2,
    .col-group.col-group-right,
    .col-group.col-group-type-2.col-group-right {
      .with-yellow-line span {
        display: none;
      }

      .sidebar-col .price-frame .yellow-btn {
        margin-left: auto;
        margin-right: -5px;
      }
    }
  }

  .page-room.content-width {
    width: 680px;
  }
}

@media (max-width: 700px) {
  .top-menu .content-width,
  .content-width {
    width: 100%;
  }

  nav {
    max-width: 320px;
  }

  footer nav {
    padding-bottom: 36px;
  }

  header {
    padding-top: 215px;
  }

  div.top-menu.fixed .logo {
    margin-top: -4px;
    height: 73px;
  }

  div.top-menu .logo {
    margin-top: 23px;
  }

  div.top-menu nav {
    left: 20px;
    position: relative;
  }

  header.head-main .header-form,
  .header-form {
    padding-top: 25px;

    & > form {
      width: 100%;
    }

    .form-title {
      text-align: center;
    }
  }

  header.head-main .header-slider .item .item-content {
    padding: 0 40px 0 0;
  }

  .gallery .slider-nav {
    width: 507px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-page .main-rooms {
    width: 400px;

    .rooms-gallery .room {
      width: 380px;
    }

    .slider-rooms-arrows .arr-prev,
    .slider-rooms-arrows .arr-next {
      position: absolute;
      top: 100px;
    }

    .slider-rooms-arrows .arr-prev {
      left: -35px;
    }

    .slider-rooms-arrows .arr-next {
      right: -35px;
    }
  }

  .main-page .main-rooms .services {
    width: auto;
  }

  footer .logo {
    width: 53px;
    height: 70px;
    margin-top: 26px;
    margin-left: 5px;
  }
}

@media (max-width: 680px) {
  .page-room.content-width {
    width: auto;
  }

  .gallery .slider {
    height: auto;
  }
}

@media (max-width: 670px) {
  .contacts .coordinates .coordinates-center .br {
    display: block;
  }

  .main-page .near-places .near-places-list .item {
    width: 33%;
    margin-bottom: 18px;
  }
}

@media (max-width: 620px) {
  div.top-menu {
    .contacts-line {
      margin-bottom: 19px;
    }

    .contacts-line .address {
      display: block;
    }

    .contacts-line .phone {
      border-width: 0;
      width: 150px;
    }
  }

  header {
    padding-top: 250px;
  }

  header.head-main .header-form,
  .header-form {
    .inputs-wrapper {
      width: 407px;
    }

    .form-input {
      width: 203px;
      margin-bottom: 1px;
    }

    .yellow-btn {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  header.head-main,
  header.head-main .header-slider .item {
    min-height: 760px;
  }

  .header-arrows .header-arrows-inner {
    bottom: 37%;
  }
}

@media (max-width: 590px) {
  .rates,
  .city .rates {
    .rate-list {
      width: 405px;

      .item {
        width: 150px;
        height: 72px;

        &:before {
          width: 58px;
          height: 58px;
        }

        &:after {
          width: 80px;
          height: 23px;
        }

        .value {
          width: 40px;
          height: 28px;
          font-size: 20px;
          line-height: 28px;
        }

        .logo:before,
        .logo:after {
          width: 100px;
          height: 35px;
        }

        &.item-1 .logo:before { background-size: 96px 16px; }
        &.item-1 .logo:after  { background-size: 96px 16px; }
        &.item-2 .logo:before { background-size: 96px 34px; }
        &.item-2 .logo:after  { background-size: 96px 34px; }
        &.item-3 .logo:before { background-size: 96px 14px; }
        &.item-3 .logo:after  { background-size: 96px 14px; }
        &.item-4 .logo:before { background-size: 96px 18px; }
        &.item-4 .logo:after  { background-size: 96px 18px; }

        &.active,
        &:hover {
          &:before {
            width: 72px;
            height: 72px;
          }

          &:after {
            height: 32px;
          }

          .value {
            font-size: 26px;
          }
        }
      }
    }
  }

  footer .logo {
    margin-right: 28px;
  }
}

@media (max-width: 540px) {
  .gallery .slider-nav {
    width: 336px;
  }

  div.top-menu .logo {
    margin-right: 38px;
    margin-left: 0;
  }
}

/*.top-menu.short li {
  transition: all .3s step-start;
}

.top-menu.fixed li {
  transition: max-width .3s step-start, margin-right .3s step-start;
  overflow: hidden;
  max-width: 200px;
  float: left;
}

@media (max-width: 800px) {
  .top-menu.fixed.short {
    .can-hide-800 {
      max-width: 0;
      margin-right: 0;
      transition: all .3s step-end;
    }
  }
}

@media (max-width: 700px) {
  .top-menu.fixed.short {
    .can-hide-700 {
      max-width: 0;
      margin-right: 0;
      transition: all .3s step-end;
    }
  }
}

@media (max-width: 540px) {
  .top-menu.fixed.short {
    .can-hide-540 {
      max-width: 0;
      margin-right: 0;
      transition: all .3s step-end;
    }
  }
}
*/
