@import 'vars';
@import 'reset';
@import 'mixins';
@import 'mixins-flex';
@import 'reset-my';

@import 'plugins/jquery-ui';
@import 'plugins/slick';
@import 'plugins/slick-theme';

@import 'partials/forms';
@import 'partials/plugin-customization';
@import 'partials/header';
@import 'partials/footer';

@import 'blocks/paging';
@import 'blocks/prices';
@import 'blocks/rates';
@import 'blocks/col-group';
@import 'blocks/room';

@import 'pages/main';
@import 'pages/rooms';
@import 'pages/room';
@import 'pages/breakfast';
@import 'pages/actions';
@import 'pages/contacts';
@import 'pages/responses';

@import 'partials/city';


.content-width {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

// headers
.title {
  @include fontMain(48px, 900);

  margin-bottom: 31px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.sub-title {
  @include fontAccent(24px);

  line-height: 1.25;
  text-align: center;
  color: #9b9b9b;
}

.small-header {
  @include fontMain(16px);

  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
}

// lists
.content {
  ol,
  ul {
    position: relative;
    top: -1px;
    margin-bottom: 23px;
    padding-left: 10px;

    li {
      display: table;

      &:before {
        content: '•';
        display: table-cell;
        padding-right: 18px;
      }
    }
  }
}

// arrows
.arr-prev,
.arr-next {
  @include inlineBlock(36px, 36px);

  position: relative;
  opacity: .999;

  &:before {
    @include absCenter();
    @include inlineBlock(7px, 7px);
    @include trans2s(border-color);

    content: '';
    transition-timing-function: linear;
    transform-origin: 50% 50%;
    backface-visibility: hidden;
    border: 2px solid #000;
    border-right: 0;
    border-bottom: 0;
  }

  &:after {
    @include absCenter();
    @include inlineBlock(22px, 22px);
    @include trans2s(width, height, border-color);

    content: '';
    border-radius: 100%;
    border: 2px solid #000;
  }

  &.arr-prev:before {
    transform: rotate(-45deg);
    left: 2px;
  }

  &.arr-next:before {
    transform: rotate(135deg);
    right: 4px;
  }

  &:hover {
    &:after,
    &:before {
      border-color: $colorMain;
    }
  }
}

// bg image
.bg-image {
  @include block(100%, 0);
  @include bg('s.gif');

  padding-top: 66.87%;
}

.search-img {
  display: none !important;
  opacity: .001 !important;
  max-width: 100%;
}

// gray whole-wide block
.gray-block {
  padding: 50px 0;
  background-color: #f4f4f4;

  .title {
    margin-bottom: 5px;
    color: #000;
  }

  .sub-title {
    color: #9b9b9b;
  }
}

.frame-titles {
  position: relative;
  display: block;

  &:before,
  &:after {
    @include block(143px, 28px);

    content: '';
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $colorMain;
  }

  &:before {
    border-bottom: 0;
    margin-bottom: 28px;
  }

  &:after {
    border-top: 0;
    margin-top: 12px;
  }
}

.go-top {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 1000;

  .touchevents & {
    display: none;
  }

  .content-width {
    position: relative;

    a {
      @include block(80px, 80px);
      @include absRight(-80px, -170px);
      @include trans(opacity, transform, background-color);

      opacity: .001;
      background: $colorMain;
      transform: scale(0);
      transform-origin: 50% 50%;

      &:before,
      &:after {
        @include abs(0, 0);
        @include block(80px, 80px);
        @include trans(opacity);

        content: '';
      }

      &:before {
        @include bg('to-top.svg', auto);

        opacity: .999;
      }

      &:after {
        @include bg('to-top-white.svg', auto);

        opacity: .001;
      }

      &:hover {
        background: darken($colorMain, 5);

        &:before {
          opacity: .001;
        }

        &:after {
          opacity: .999;
        }
      }

      &.visible {
        transform: scale(1);
        opacity: .999;
      }
    }
  }
}

@import 'partials/response';
