@mixin fontMain($size, $weight: 700) {
  font-family: $fontBase;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}

@mixin fontAccent($size) {
  font-family: $fontAccent;
  font-size: $size;
  font-weight: 400;
  font-style: italic;
}

@mixin fontAdditional($size) {
  font-family: $fontAdditional;
  font-size: $size;
  font-weight: 900;
  font-style: normal;
}

@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}

@mixin block($width, $height: auto) {
  display: block;
  @include size($width, $height);
}

@mixin inlineBlock($width, $height: auto) {
  display: inline-block;
  @include size($width, $height);
}

@mixin pos($top: null, $left: null) {
  @if ($top) {
    top: $top;

    @if ($left) {
      left: $left;
    }
  }
}

@mixin posRight($top: null, $right: null) {
  @if ($top) {
    top: $top;

    @if ($right) {
      right: $right;
    }
  }
}

@mixin abs($top: null, $left: null) {
  position: absolute;
  @include pos($top, $left);
}

@mixin rel($top: null, $left: null) {
  position: relative;
  @include pos($top, $left);
}

@mixin absRight($top, $right) {
  position: absolute;
  @include posRight($top, $right);
}

@mixin relRight($top, $right) {
  position: relative;
  @include posRight($top, $right);
}

@mixin absAll($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;

  @if ($top) {
    top: $top;

    @if ($right) {
      right: $right;

      @if ($bottom) {
        bottom: $bottom;

        @if ($left) {
          left: $left;
        }
      }
    }
  }
}

@mixin absCenterVert() {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin absCenterHor() {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin absCenter() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin trans($types...) {
  $typesRes: if(length($types) > 0, $types, (all));
  $result: ();
  @each $item in $typesRes {
    $result: append($result, $item + ' .3s ease', 'comma');
  }

  transition: $result;
}

@mixin trans2s($types...) {
  $typesRes: if(length($types) > 0, $types, (all));
  $result: ();
  @each $item in $typesRes {
    $result: append($result, $item + ' .2s ease', 'comma');
  }

  transition: $result;
}

@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin bg($image, $size: cover, $position: center, $repeat: no-repeat) {
  background: url('../images/' + $image) $position $repeat;
  background-size: $size;
}

@mixin bg2x($image, $size: cover, $position: center, $repeat: no-repeat) {

  $ext: str-slice($image, str-length($image) - 3, str-length($image));
  $fileName: str-slice($image, 0, str-length($image) - 4);

  @include bg($image, $size, $position, $repeat);

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min--moz-device-pixel-ratio: 2),
  screen and (-moz-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background: url('../images/' + $fileName + '@2x' + $ext) $repeat $position;
    background-size: $size;
  }
}
