@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexVertical() {
  @include flex();

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flexWrap($val) {
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}

@mixin justifyContent($val) {
  $prefVal: justify;

  //@if ($val == 'space-between') {
  // write here $prefVal definition for new cases
  //}

  -webkit-box-pack: $prefVal;
  -ms-flex-pack: $prefVal;
  justify-content: $val;
}

@mixin alignItems($val) {
  -webkit-box-align: $val;
  -ms-flex-align: $val;
  align-items: $val;
}
