$fontAccent: 'PT Serif', serif;
$fontBase: 'Montserrat', sans-serif;
$fontAdditional: 'Roboto', sans-serif;

$fontSizeSmallest: 13px;
$fontSizeSmall: 15px;
$fontSizeNormal: 16px;
$fontSizeBig: 22px;

$colorMain: #f3a200;
$colorMainDarken: darken($colorMain, 8);

$colorMainCity: #2389bc;
$colorMainDarkenCity: darken($colorMainCity, 8);
