.col-group {
  position: relative;
  margin-bottom: 95px;

  .title {
    margin-bottom: 51px;
  }

  .main-col {
    position: relative;
    float: left;
    width: 658px;
    padding-top: 70px;

    .back-link {
      @include abs(11px, 36px);

      font-size: 14px;
      color: $colorMain;

      span {
        @include abs(10px, -36px);
        @include block(26px, 1px);
        @include trans(color, left);

        &:before {
          @include absAll(0, 0, 0);
          @include block(26px, 1px);
          @include trans(width, background-color);

          content: '';
          background-color: $colorMain;
        }
      }

      &:hover {
        color: $colorMainDarken;

        span {
          left: -23px;

          &:before {
            width: 0;
            background-color: $colorMainDarken;
          }
        }
      }
    }
  }

  .sidebar-col {
    float: right;
    width: 317px;

    .price-frame {
      position: relative;
      z-index: 100;
      border: 1px solid #979797;
      padding: 69px 21px 60px 69px;
      margin-bottom: 117px;
      margin-left: -73px;

      .yellow-btn {
        position: relative;
      }
    }

    ul {
      padding-right: 10px;
    }
  }
}

// yellow line
.with-yellow-line {
  span {
    @include abs(0, -199px);
    @include block(172px, 4px);
    @include trans(color, left);

    &:before {
      @include absAll(0, 0, 0);
      @include block(172px, 4px);
      @include trans(width, background-color);

      content: '';
      background-color: $colorMain;
    }
  }
}

a.with-yellow-line:hover {
  span {
    left: -167px;

    &:before {
      width: 0;
      background-color: darken($colorMain, 5);
    }
  }
}

.col-group-right .with-yellow-line {
  span {
    left: 222px;

    &:before {
      left: 0;
      right: auto;
    }
  }
}

.col-group-right a.with-yellow-line:hover span {
  left: 190px;
}


// change sides
.col-group.col-group-right,
.col-group.col-group-type-2.col-group-right {
  .main-col {
    float: right;
  }

  .sidebar-col {
    float: left;

    .price-frame {
      padding-left: 21px;
      padding-right: 69px;
      margin-right: -73px;
      margin-left: 0;
    }
  }
}
