.paging {
  @include fontAdditional(14px);

  font-weight: 300;
  text-align: center;

  a,
  span {
    vertical-align: middle;
  }

  .paging-page {
    @include inlineBlock(30px, 30px);
    @include trans(color, background-color);

    margin: 0 6px 0 7px;
    text-align: center;
    line-height: 32px;
    background-color: #fff;

    &.active {
      border: 1px solid $colorMain;
      line-height: 30px;
    }
  }

  a.paging-page {
    &:hover {
      background: $colorMain;
      color: #fff;
    }
  }
}
