.prices {
  display: block;
  margin-bottom: 19px;
  padding-left: 3px;

  .price {
    @include bg('dot-gray.gif', auto 2px, 2px 21px, repeat-x);

    position: relative;
    display: block;
    padding-bottom: 11px;

    .value {
      @include fontMain(24px);

      display: inline-block;
      background: #fff;
      width: 100px;
      color: #000;

      &:after {
        content: '₽';
      }
    }

    .item {
      @include absRight(5px, 0);

      width: 104px;
      background: #fff;
      padding-left: 10px;
    }
  }
}
