.rates {
  .rate-list {
    margin-top: 50px;
    overflow: hidden;

    .item {
      @include block(225px, 108px);

      position: relative;
      float: left;
      cursor: pointer;

      .logo {
        @include absCenterVert();

        z-index: 40;

        &:before,
        &:after {
          @include absCenterVert();
          @include block(150px, 50px);
          @include trans(opacity);

          content: '';
        }

        &:before {
          opacity: .999;
        }

        &:after {
          opacity: .001;
        }
      }

      &.item-1 .logo:before { @include bg('rate-booking.png',           145px 24px, left); }
      &.item-1 .logo:after  { @include bg('rate-booking-black.png',     145px 24px, left); }
      &.item-2 .logo:before { @include bg('rate-flamp.png',             145px 50px, left); }
      &.item-2 .logo:after  { @include bg('rate-flamp-black.png',       145px 50px, left); }
      &.item-3 .logo:before { @include bg('rate-tripadvisor.png',       146px 22px, left); }
      &.item-3 .logo:after  { @include bg('rate-tripadvisor-black.png', 146px 22px, left); }
      &.item-4 .logo:before { @include bg('rate-google-maps.png',       144px 27px, left); }
      &.item-4 .logo:after  { @include bg('rate-google-maps-black.png', 144px 27px, left); }

      &:before {
        @include absCenterVert();
        @include block(88px, 88px);
        @include trans2s(width, height);

        content: '';
        right: 16px;
        z-index: 10;
        border: 1px solid $colorMain;
        box-sizing: border-box;
      }

      &:after {
        @include absCenterVert();
        @include block(120px, 34px);
        @include trans2s(height);

        content: '';
        top: 1px;
        right: 10px;
        z-index: 20;
        background: #f4f4f4;
      }

      .value {
        @include absCenterVert();
        @include block(60px, 42px);
        @include fontAccent(30px);
        @include trans2s(font-size, color);

        top: 1px;
        right: -9px;
        z-index: 50;
        text-align: center;
        line-height: 42px;
        color: $colorMain;
      }

      & + .item {
        margin-left: 32px;
      }

      &.active,
      &:hover {
        .logo:before {
          opacity: .001;
        }

        .logo:after {
          opacity: .999;
        }


        &:before {
          @include absCenterVert();
          @include block(108px, 108px);

          border-color: #000;
        }

        &:after {
          height: 42px;
        }

        .value {
          font-size: 36px;
          color: #000;
        }
      }
    }
  }
}
