.room {
  @include block(487px);

  float: left;
  margin-bottom: 26px;
  cursor: pointer;

  .room-frame {
    position: relative;
    display: block;

    &:before {
      @include absAll(15px, 15px, 15px, 15px);
      @include trans(opacity);

      content: '';
      z-index: 50;
      display: block;
      border: 1px solid #000;
      opacity: .001;
    }
  }

  .room-img {
    @include trans(opacity);

    margin-bottom: 24px;
    opacity: .999;
  }

  .room-info {
    position: relative;
    z-index: 100;
    display: block;
    padding: 0 40px 55px 38px;

    .room-title {
      @include fontMain(20px);

      display: block;
      margin-bottom: 18px;
      text-transform: uppercase;
      color: #000;
    }

    .room-description {
      display: block;
      margin-bottom: 22px;
    }

    .yellow-btn {
      opacity: .001;
      left: -10px;
      right: 0;
    }
  }

  &:hover,
  .touchevents & {
    & .room-frame:before {
      opacity: .999;
    }

    .room-img {
      opacity: .85;
    }

    .yellow-btn {
      opacity: .999;
    }
  }
}
