.actions {
  padding-bottom: 40px;

  .actions-header {
    @include fontMain(24px);

    margin-bottom: 22px;
    color: #000;
  }

  .col-group {
    .hint {
      @include block(300px);

      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 14px;
      line-height: 1.43;
      color: #9b9b9b;
    }

    .hint-inner {
      display: none;
    }

    .sidebar-col .price-frame {
      padding-left: 74px;
      padding-bottom: 30px;

      ul {
        margin-bottom: 28px;
      }
    }

    &.col-group-right {
      .hint {
        left: 0;
        right: auto;
      }

      .yellow-btn {
        left: 5px;
      }

      a.with-yellow-line span {
        left: 175px;
      }

      a.with-yellow-line:hover span {
        left: 140px;
      }
    }
  }
}
