.breakfast {
  padding-bottom: 40px;

  .col-group {
    margin-bottom: 130px;
  }

  .price {
    @include fontMain(48px);

    position: relative;
    margin-left: 35px;
    color: #000;

    &:after {
      content: '₽';
    }

    &.with-yellow-line span {
      top: 17px;
    }
  }
}

.col-group.col-group-type-2 {
  .price-frame {
    ul {
      margin-bottom: 11px;

      li {
        margin-bottom: 2px;
      }
    }
  }

  .main-col {
    padding-top: 40px;
  }

  .sidebar-col .price-frame {
    padding: 33px 21px 31px 93px;
  }
}
