.contacts-map {
  height: 470px;
  margin-top: -60px;
  margin-bottom: 50px;

  &.default-map {
    @include bg('yandex-map-static.jpg', contain);
  }
}

.contacts {
  .coordinates {
    text-align: center;
    margin-bottom: 70px;

    .coordinates-center {
      font-size: 14px;

      span {
        color: #000;
      }

      &:before {
        @include inlineBlock(28px, 28px);
        @include rel(10px, -11px);
        @include bg('contacts-arrow.svg', contain);

        content: '';
        padding-right: 20px;
      }
    }
  }

  .how-get {
    overflow: hidden;
    margin-bottom: 50px;

    .how-get-item {
      float: left;
      width: 280px;
      margin-bottom: 50px;

      &:before {
        @include block(60px, 51px);

        content: '';
        margin: 4px auto 21px -6px;
      }

      &.how-get-train:before {
        @include bg('contacts-train.svg', contain);
      }

      &.how-get-plane:before {
        @include bg('contacts-plane.svg', contain);

        margin-left: -2px;
      }

      &.how-get-bus:before {
        @include bg('contacts-bus.svg', contain);

        height: 48px;
        margin: 5px auto 24px -4px;
      }

      & + .how-get-item {
        margin-left: 60px;
      }

      .how-get-title {
        @include fontMain(20px);

        margin-bottom: 18px;
        text-transform: uppercase;
        color: #000;
      }

      .how-get-text {
        display: table-cell;
      }
    }
  }
}

.jur-data {
  overflow: hidden;
  padding-top: 82px;
  padding-bottom: 30px;

  .jur-info {
    float: left;
    width: 644px;
    border-right: 2px solid $colorMain;
    padding: 1px 50px 0 6px;

    ul li {
      padding: 1px 0;
    }
  }

  .jur-docs {
    float: right;
    width: 312px;
    padding-top: 64px;

    .jur-doc {
      @include trans(opacity);

      position: relative;
      display: block;
      margin-bottom: 35px;
      white-space: nowrap;
      font-size: 16px;
      color: $colorMain;
      opacity: .999;

      &:before {
        @include inlineBlock(28px, 36px);
        @include rel(12px, -10px);
        @include bg('ico-sheet.svg', contain);
        @include trans(top);

        content: '';
        padding-right: 20px;
      }

      &:hover {
        opacity: .7;

        &:before {
          top: 7px;
        }
      }
    }
  }
}
