.main-page {
  .title {
    margin-bottom: 5px;
  }

  .main-responses-rates {
    margin-bottom: 72px;
  }

  .main-rooms {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    .slider-rooms-arrows {
      @include absCenterHor();

      .arr-prev,
      .arr-next {
        position: absolute;
        top: 70px;
        z-index: 100;
      }

      .arr-prev {
        left: -80px;
      }

      .arr-next {
        right: -80px;
      }
    }

    .rooms-gallery {
      margin-top: -14px;
      overflow: hidden;

      .room {
        width: 317px;
        margin-right: 25px;

        .room-frame:before {
          position: absolute;
          top: 10px;
          right: 10px;
          bottom: 25px;
          left: 10px;
        }

        .room-title {
          margin-bottom: 16px;
        }

        .room-description {
          margin-bottom: 13px;
          line-height: 1.25;
        }

        .price {
          @include fontMain(12px);

          display: block;
          margin-bottom: 25px;
          color: #000;

          span {
            padding-left: 3px;
            font-size: 24px;
          }
        }

        &:hover .yellow-btn {
          left: 0;
        }
      }
    }
  }

  .services {
    margin-bottom: 60px;

    .slider-services {
      overflow: hidden;
      margin-top: 28px;
      margin-bottom: 23px;

      .slick-slide {
        width: 316px;
        margin-right: 24px;
      }

      .item {
        @include block(325px, 146px);

        position: relative;
        float: left;
        padding: 0 10px;
        text-align: center;
        font-size: 18px;

        &:before {
          @include block(100px, 100px);
          @include bg('ico-service-coffee.svg', 41px 48px, center);

          content: '';
          margin: 0 auto -2px auto;
        }

        &.item-coffee:before    { @include bg('ico-service-coffee.svg',    41px 48px, center); }
        &.item-alarm:before     { @include bg('ico-service-alarm.svg',     50px 48px, center); }
        &.item-parking:before   { @include bg('ico-service-parking.svg',   48px 48px, center); }
        &.item-laundry:before   { @include bg('ico-service-laundry.svg',   48px 48px, center); }
        &.item-wifi:before      { @include bg('ico-service-wifi.svg',      62px 48px, center); }
        &.item-taxi:before      { @include bg('ico-service-taxi.svg',      47px 48px, center); }
        &.item-hdtv:before      { @include bg('ico-service-hdtv.svg',      53px 48px, center); }
        &.item-fan:before       { @include bg('ico-service-fan.svg',       85px 49px, center); }
        &.item-copies:before    { @include bg('ico-service-copies.svg',    50px 50px, center); }
        &.item-first-aid:before { @include bg('ico-service-first-aid.svg', 56px 50px, center); }
        &.item-no-smoke:before  { @include bg('ico-service-no-smoke.svg',  80px 60px, center); }
        &.item-cards:before     { @include bg('ico-service-cards.svg',     53px 37px, center); }
      }
    }

    .slider-services-arrows {
      width: 72px;
      margin: auto;
    }
  }


  .reasons-head {
    @include block(auto, 450px);

    position: relative;
    max-width: 2000px;
    margin: 0 auto 75px auto;
    text-align: center;
    background: #000;

    .reasons-head-bg {
      @include absAll(0, 0, 0, 0);
      @include bg('main-reasons.jpg');

      display: block;
      opacity: .48;
    }

    .frame-titles {
      @include absAll(0, 0, 0, 0);

      z-index: 100;
      padding-top: 122px;

      .title {
        margin-bottom: 18px;
      }

      .title,
      .sub-title {
        padding-left: 14px;
        color: #fff;
      }
    }
  }

  .reasons {
    padding-top: 20px;
    margin-bottom: 0;
    counter-reset: reason-counter;
    overflow: hidden;

    .reason-list {
      width: 47.9%;
      float: left;
      list-style: none;
      margin-bottom: 13px;

      & + .reason-list {
        padding-left: 4%;
      }

      li {
        position: relative;
        display: table;
        height: 105px;
        margin-bottom: 40px;
        padding-left: 75px;

        &:before {
          @include abs(-27px, 4px);

          content: counter(reason-counter);
          counter-increment: reason-counter;
          display: table-cell;
          font-size: 60px;
          font-weight: 700;
          color: $colorMain;
          z-index: 10;
        }

        &:after {
          @include abs(12px, -4px);
          @include block(46px, 46px);

          content: '';
          border: 1px solid #979797;
          opacity: .5;
        }

        .name {
          @include fontMain(20px);

          margin-bottom: 13px;
          text-transform: uppercase;
          color: #000;
        }

        .text {
          color: #9b9b9b;
        }
      }
    }
  }

  .main-contacts {
    .coordinates {
      margin-top: 16px;
      margin-bottom: 55px;
    }

    .contacts-map {
      height: 370px;
      margin-top: 0;
      margin-bottom: 50px;
    }

    .contacts .how-get {
      margin-bottom: 30px;
    }
  }

  .near-places {
    margin-top: 16px;
    margin-bottom: 18px;
    padding: 0 10px;

    .sub-title {
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }

    .frame-titles {
      &:before {
        margin-bottom: 17px;
      }

      &:after {
        margin-top: 20px;
      }
    }

    .near-places-list {
      @include flex();
      @include flexWrap(wrap);
      @include justifyContent(space-between);

      overflow: hidden;
      margin-top: 44px;

      .item {
        @include block(15%, 100px);

        float: left;
        margin-bottom: 38px;
        opacity: .8;

        &.item-01 { @include bg('near-place-01.png', 78px 78px); }
        &.item-02 { @include bg('near-place-02.png', 134px 44px); }
        &.item-03 { @include bg('near-place-03.png', 71px 71px); }
        &.item-04 { @include bg('near-place-04.png', 132px 60px); }
        &.item-05 { @include bg('near-place-05.png', 139px 63px); }
        &.item-06 { @include bg('near-place-06.png', 121px 81px); }
        &.item-07 { @include bg('near-place-07.png', 134px 48px); }
        &.item-08 { @include bg('near-place-08.png', 95px 95px); }
        &.item-09 { @include bg('near-place-09.png', 125px 35px); }
        &.item-10 { @include bg('near-place-10.png', 80px 85px); }
        &.item-11 { @include bg('near-place-11.png', 123px 25px); }
        &.item-12 { @include bg('near-place-12.png', 135px 35px); }
      }
    }
  }
}
