.responses-rates {
  margin-top: -60px;
  margin-bottom: 170px;
}

.responses {
  margin-top: -79px;

  .response {
    margin-bottom: 86px;

    .response-name {
      @include fontMain(18px);

      margin-bottom: 6px;
      color: #000;
    }

    .response-date-line {
      overflow: hidden;
      margin-bottom: 40px;

      .response-date {
        @include block(90px, 29px);
        @include fontMain(14px);

        float: left;
        line-height: 29px;
        color: #000;
      }

      .response-service {
        @include inlineBlock(auto, 29px);
        @include fontMain(14px);
        @include trans(background-color);

        padding: 5px 9px;
        color: #fff;
        background: $colorMain;

        &:hover {
          background-color: $colorMainDarken;
        }
      }
    }

    .response-pluses,
    .response-minuses {
      position: relative;
      padding-left: 86px;
      margin-bottom: 27px;
      font-size: 14px;
      line-height: 22px;

      &:before {
        @include absCenterVert();
        @include block(38px, 38px);

        content: '';
        left: 0;
      }

      &.response-pluses:before {
        @include bg('ico-plus.svg');
      }

      &.response-minuses:before {
        @include bg('ico-minus.svg');
      }
    }

    .response-answer {
      position: relative;
      margin-top: 30px;
      padding-left: 168px;

      &:before {
        @include abs(6px, -2px);
        @include block(127px, 4px);

        content: '';
        background: $colorMain;
      }

      .response-answer-title {
        @include fontAdditional(14px);

        margin-bottom: 17px;
      }

      .response-answer-text {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .form form .form-input {
    input,
    textarea {
      text-align: center;
    }
  }

  .response + .paging {
    margin-top: -33px;
  }
}
