.gallery {
  margin-bottom: 44px;

  .slider {
    height: 440px;
    overflow: hidden;
    margin-bottom: 30px;

    .item span {
      cursor: move;
    }
  }

  .slider-nav {
    height: 117px;
    overflow: hidden;
    margin: 0 -10px 26px -11px;

    .item {
      @include block(165px, 117px);
      @include trans(opacity, border-color);

      margin-right: 6px;
      padding: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      opacity: .999;

      &:hover,
      &.slick-current {
        border-color: $colorMain;

        .bg-image {
          opacity: .85;
        }
      }
    }
  }

  .slider-room-arrows {
    @include block(72px, 26px);

    position: relative;
    margin: auto;

    .arr-next {
      float: right;
    }
  }
}


.page-room {
  .info {
    @include fontAdditional(24px);

    font-weight: 300;
    line-height: 1.25;
  }
}

.col-group {
  .sidebar-col {
    .price-frame {
      padding: 69px 21px 60px 69px;
      margin-bottom: 40px;
      margin-left: -73px;

      .prices {
        margin-bottom: 26px;
      }

      .yellow-btn {
        left: -18px;
      }
    }
  }
}
